{%- assign formats = site.data[site.metadata] | map: "format" -%}
{%- assign types = "image;audio;video;pdf;record;url" | split: ";" -%}
<div class="card mb-3" >
  <div class="card-body">
    <h5 class="card-title">Objects</h5>
    <p class="card-text"> 
      {% for t in types %}
      {%- assign count = formats | where_exp: 'item','item contains t' | size -%}
      {% if count > 0 %}
      {{ count }}
      {% case t %}
      {% when 'image' %} 
      <a class="text-dark" href="{{ 'image' | prepend: '/browse.html#' | relative_url }}">Images <img src="{{ '/assets/icons/'' | relative_url | append: 'file-image.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% when 'audio' %}
      <a class="text-dark" href="{{ 'audio' | prepend: '/browse.html#' | relative_url }}">Audio <img src="{{ '/assets/icons/'' | relative_url | append: 'file-play.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% when 'video' %}
      <a class="text-dark" href="{{ 'video' | prepend: '/browse.html#' | relative_url }}">Videos <img src="{{ '/assets/icons/'' | relative_url | append: 'film.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% when 'pdf' %}
      <a class="text-dark" href="{{ 'pdf' | prepend: '/browse.html#' | relative_url }}">PDFs <img src="{{ '/assets/icons/'' | relative_url | append: 'file-richtext.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% when 'record' %}
      <a class="text-dark" href="{{ 'pdf' | prepend: '/browse.html#' | relative_url }}">Records <img src="{{ '/assets/icons/'' | relative_url | append: 'file-text.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% when 'url' %}
      <a class="text-dark" href="{{ 'pdf' | prepend: '/browse.html#' | relative_url }}">URLs <img src="{{ '/assets/icons/'' | relative_url | append: 'link.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {% else %}
      <a class="text-dark" href="{{ 'pdf' | prepend: '/browse.html#' | relative_url }}">Files <img src="{{ '/assets/icons/'' | relative_url | append: 'file.svg'}}" alt="" class="pb-1 img-fluid" title="Bootstrap icon" /></a><br>
      {%- endcase -%}
      {%- endif -%}
      {%- endfor -%}
      <a class="btn btn-sm btn-outline-secondary mt-2" href="{{ '/data.html' | relative_url }}">View table</a>
    </p>
  </div>
</div>